@import url(../../fonts/stylesheet.scss);

.review {
  display: flex;
  align-items: flex-end;

  .comments {
    width: 1062px;
    height: 399;
    margin-right: 34px;
    padding: 74px 56px 40px 80px;

    background: #ffffff;
    border-radius: 2px;
    .commentsHat {
      display: flex;
      justify-content: space-between;

      span {
        font-family: "Factor A";
        font-weight: 500;
        font-size: 68px;
        line-height: 88px;
        letter-spacing: -0.0124em;
        color: #333333;
      }
      button {
        width: 220px;
        height: 52px;

        background: #585cc6;
        border-radius: 2px;

        font-family: "Gilroy";
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.01em;
        line-height: 18px;
        color: #ffffff;
      }
    }
  }
  .arrows {
    display: flex;

    .left,
    .right {
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 2px;

      &:hover {
        color: #585cc6;
      }

      &:disabled {
        color: #adadad;
        background: #e0e0e0;
      }
    }
    .left {
      margin-right: 16px;
      transform: rotate(180deg);
    }
  }
}
