@import url(../../fonts/stylesheet.scss);

.review {
  display: flex;
  align-items: flex-end;

  .comments {
    max-width: 1062px;
    max-height: 405px;

    padding: 56px 56px 32px 80px;
    margin-right: 34px;

    background: #ffffff;
    border-radius: 2px;
    .commentsHat {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 220px;
        height: 52px;
      }
    }
  }
  .arrows {
    width: 128px;
    display: flex;
    justify-content: space-between;
    z-index: 0;

    .left,
    .right {
      width: 52px;
      height: 52px;

      position: relative;
      left: 0;

      border: none;
      border-radius: 2px;
    }
    .left {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 350px) {
  .review {
    .comments {
      max-height: 435px;
      max-width: 272px;

      margin-right: 0px;
      padding: 20px 15px 24px 17px;

      .commentsHat {
        align-items: start;
        h2 {
          margin-bottom: 21px;
        }
        button {
          width: 42px;
          height: 42px;
          img {
            position: relative;
            left: 1px;
          }
          span {
            display: none;
          }
        }
      }
    }
    .arrows {
      display: none;
    }
  }
}
