@import url(../../../fonts/stylesheet.scss);

.inputBlock,
.textAreaBlock {
  display: flex;
  flex-direction: column;

  .input,
  .textArea {
    outline: none;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;

    &::placeholder {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #8a8a8a;
    }
    &:invalid {
      border: 1px solid #eb5757;
    }
  }
  .label {
    margin-bottom: 14px;

    font-family: "Factor A";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0124em;
    color: #333333;
  }
}

.errorBlock {
  display: flex;
  img {
    padding-right: 2px;
  }
  .error {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #eb5757;
  }
}

@media (max-width: 350px) {
  .inputBlock,
  .textAreaBlock {
    .input,
    .textArea {
      outline: none;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
      border-radius: 2px;
    }
    .label {
      margin-bottom: 8px;

      font-size: 14px;
      line-height: 18px;
    }
  }
}
