@import url(../../fonts/stylesheet.scss);

.header_wrapper {
  max-height: 116px;

  display: flex;
  align-items: center;
  background-color: #ffffff;

  .header_items {
    width: 100%;
    padding: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
      width: 227px;
      display: flex;
      align-items: center;

      .avatar {
        width: 52px;
        height: 52px;
        border-radius: 2px;
        object-fit: cover;

        margin-right: 20px;
      }
      span {
        font-weight: 700;
      }
    }

    .logo {
      width: 86px;
      height: 65px;
    }

    Button {
      width: 227px;
      height: 52px;

      color: #ffffff;
      font-family: "Gilroy";
      font-weight: 600;
      font-size: 17px;
      line-height: 18px;
    }
  }
}

@media (max-width: 350px) {
  .header_wrapper {
    max-height: 77px;

    .header_items {
      padding: 21px 16px;

      .user {
        width: 66px;

        .avatar {
          width: 36px;
          height: 36px;
          border-radius: 2px;

          margin-right: 8px;
        }
        span {
          font-family: "Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: #333333;
        }
      }

      .logo {
        width: 59px;
        height: 31px;
      }

      Button {
        width: 36px;
        height: 36px;

        background-image: url(../../../public/assets/icons/profile.svg);
        background-position: 8px 8px;
        background-repeat: no-repeat;
        span {
          display: none;
        }
      }
    }
  }
}
