@import url(./fonts/stylesheet.scss);

body {
  margin: 0;
  background-color: #585cc6;
  font-family: "Factor A", "Gilroy";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spline {
  background-image: url(../public/assets/icons/spline.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
