@import url(../../fonts/stylesheet.scss);

.message {
  max-width: 471px;
  height: 231px;

  padding: 24px;

  background: #f5f5f5;
  border-radius: 2px;

  .messageHat {
    display: flex;
    align-items: center;
    padding-bottom: 24px;

    img {
      width: 52px;
      height: 52px;

      padding-right: 20px;
    }
    b {
      font-family: "Factor A";
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.0124em;
    }
    span {
      margin-left: auto;
      position: relative;
      bottom: 16px;

      font-family: "Factor A";
      font-weight: 400;
      color: #8a8a8a;
    }
  }
  span {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 350px) {
  .message {
    max-width: 248px;
    height: 316px;

    padding: 12px;

    .messageHat {
      display: flex;
      img {
        width: 40px;
        height: 40px;

        padding-right: 8px;
      }
      b {
        margin-left: 0;
        bottom: 0;

        font-size: 16px;
        line-height: 24px;
      }
      span {
        font-size: 10px;
        line-height: 14px;
      }
    }
    span {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
