@import url(../../fonts/stylesheet.scss);

.swiper-wrapper {
  height: 313px;
  max-width: 1062px;
  .swiper-slide {
    transition: all 0.6s ease;
  }
}
.swiper-button-prev,
.swiper-button-next {
  &:hover {
    color: #585cc6;
  }

  &:disabled {
    color: #adadad;
    background: #e0e0e0;
  }

  &::after {
    display: none;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4px;
  .swiper-pagination-bullet {
    height: 2px;
    width: 12px;
    border-radius: 0;

    cursor: pointer;

    transition: all 0.4s ease;
    background-color: #585cc6;
    border: 1px solid #585cc6;
    &:hover {
      opacity: 0.8;
      width: 24px;
    }
    .swiper-pagination-bullet-active {
      width: 24px;
    }
  }
}
@media (max-width: 350px) {
  .swiper-wrapper {
    height: 365px;
    max-width: 272px;
  }
}
